

<div>
	<div class="AvailabilityCalendars">
	    <div class="Calendars">
			
			<div class="CalendarArrow">
	            <div data-dojo-attach-point="calendarPreviousMonthButtonAP">
				</div>
	        </div>
	        <div class="CalendarDijit">
	            <span data-dojo-attach-point="calendarMonthOneAttachPoint"></span>
	        </div>
	        <div class="CalendarArrow">
	            <div data-dojo-attach-point="calendarFollowingMonthButtonAP">
	           	</div>
	        </div>

	    </div>
	</div>
</div>





	
